<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>  
    <p>Nome: <%=@contact.name%></p>  
    <p>E-mail: <%=@contact.email%></p>
    <p>Assunto: <%=@contact.subject%></p>
    <p>Mensagem: <%=@contact.message%></p>
  </body>
</html>